# Folders to exclude from git
build/
install/
log/
.venv/

# Isaac ROS workspace folders to exclude
isaac_ros_ws/isaac_ros_assets/
isaac_ros_ws/rosbag2_2025_07_27-20_31_30/
/workspaces/isaac_ros-dev/isaac_ros_ws/build/
/workspaces/isaac_ros-dev/isaac_ros_ws/install/
/workspaces/isaac_ros-dev/isaac_ros_ws/log/