<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="load_velocity_control_plugin" params="use_gazebo">
        <xacro:if value="${use_gazebo}">
            <gazebo>
                <plugin
                    filename="gz-sim-diff-drive-system"
                    name="gz::sim::systems::DiffDrive">
                    <left_joint>front_left_wheel_joint</left_joint>
                    <left_joint>back_left_wheel_joint</left_joint>
                    <right_joint>front_right_wheel_joint</right_joint>
                    <right_joint>back_right_wheel_joint</right_joint>
                    <wheel_separation>0.169</wheel_separation>
                    <wheel_radius>0.0325</wheel_radius>
                    <topic>diff_drive_controller/cmd_vel_unstamped</topic>
                    <odom_topic>odom</odom_topic>
                    <robot_base_frame>base_footprint</robot_base_frame>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>